{% extends "layout.njk" %}

{% block head %}

<title>Conteúdos | Rodrigo Emanuel</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<section class="cards">
        <div class="card" id="rotulo">
            <div class="card__image">
                <img src="https://rocketseat.com.br/static/images/update/yoda.svg" alt="">
            </div>
            
        </div>

        <div class="card">
            <div class="card-content">

                <div id="starter" class="card__image-content" name="Starter">
                    <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="">
                </div>

                <div id="launchbase" class="card__image-content" name="LaunchBase">
                    <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="">
                </div>

                <div id="gostack" class="card__image-content" name="GoStack">
                    <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="">
                </div>

            </div>

        </div>
        
    </section>

    <div class="modal_1">
        <div class="modal">
            <a href="" class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
    
   <script src="desafio-2.1.js"></script>

{% endblock %}
