<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/desafio-2.1-style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>LauchBase | Rocketseat</title>
</head>
<body>
    <header>
        <div id="topo" class="topo links">
            <a href="/">Ínicio</a>
            <a href="/conteudos">Conteúdos</a>
            <a href="/sobre">Sobre</a>
        </div>
    </header>
    <div id="rotulo" class="card__image">
        <img src="/marca-launchbase.png" alt="">
    </div>
    <div id="infos">
        <h1>Desafio 2-1: Primeiro HTML</h1>
        <h2>"Sua única limitação é você mesmo!"</h2>
    </div>
    <div id="licencas">
        <a href="">
           <img alt="Made by Rocketseat" src="https://camo.githubusercontent.com/5cf08b70d6b8d6461312d17bdaebed7854f926ed/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6d61646525323062792d526f636b6574736561742d253233463839353244" data-canonical-src="https://img.shields.io/badge/made%20by-Rocketseat-%23F8952D" style="max-width:100%;">
        </a>
        <a href="">
            <img alt="License" src="https://camo.githubusercontent.com/a461470996ade0251b31364804e11694078d2a22/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6c6963656e73652d4d49542d253233463839353244" data-canonical-src="https://img.shields.io/badge/license-MIT-%23F8952D" style="max-width:100%;">
        </a>
    </div>
    <div id="base" class=" base links">
        <a href="">Sobre o desafio</a>
        <a href="">Entrega</a>
        <a href="">Licença</a>
    </div>
    
</body>
</html>