{% extends "layout.njk" %}

{% block head %}

<title>Sobre | Rodrigo Emanuel</title>

{% endblock %}

{% block content %}

<section class="cards">

    <div class="card" id="rotulo">
        <div class="card__image">
            <img src="https://rocketseat.com.br/static/images/update/yoda.svg" alt="">
            <!-- <img src="../images/marca-launchbase.png" alt=""> -->
        </div>
        
    </div>

    <div class="card" id="infos">
        <ul>
            <li>JavaScript</li>
            <li>React Native</li>
            <li>Python</li>
            <li>VueJS</li>
        </ul>
    </div>    

</section>

{% endblock %}
