<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/desafio-2.1-style.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <title>Sobre | Rocketseat</title>
</head>
<body>
    <header>
        <div class="topo links" id="topo">
            <a href="/">Ínicio</a>
            <a href="/conteudos">Conteúdos</a>
            <a href="/sobre">Sobre</a>
        </div>
    </header>

    <section class="cards">

        <div class="card" id="rotulo">
            <div class="card__image">
                <img src="../images/marca-launchbase.png" alt="">
            </div>
            
        </div>

        <div class="card" id="infos">
            <ul>
                <li>JavaScript</li>
                <li>React Native</li>
                <li>Python</li>
                <li>VueJS</li>
            </ul>
        </div>    

        

    </section>
    
    <div class="base card" id="base">
        <a href="">Sobre o desafio</a>
        <a href="">Entrega</a>
        <a href="">Licença</a>
    </div>
    
</body>
</html>